h1 {
    font-family: 'Roboto', sans-serif;
    margin-top: 24px;
    margin-left: 24px;
    font-size: xx-large;
}

.d-none {
    display: none;
}

.info-container-bg {
    background-color: rgba(255, 255, 255, 0.479);
    z-index: 2;
    height: 100%;
    width: 100%;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.info-container {
    z-index: 3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pokedex{
    height: 320px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 112, 112);
    color: white;
    width: 400px;
}

.x-mark {
    cursor: pointer;
    width: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.container-arrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow {
    cursor: pointer;
    width: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.pokedex-info {
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    align-items: center;
}

.type-of-pokemon {
    margin-top: 20px;
    margin-left: 30px;
    width: 80px;
    background-color: rgb(255, 153, 153);
    font-size: large;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}



#pokemon-index {
    font-size: x-large;
}

#pokemon-pic {
    height: 150px;
    width: 150px;
}

.img-pokemon {
    z-index: 5;
    height: 180px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    object-fit: cover;
}

.bg-container-stats {
    z-index: 4;
    width: 400px;
    height: 500px;
    background-color: white;
    margin-top: -40px;
    border-radius: 30px;

}

.container-stats {
    z-index: 7;
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-top: 35px;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-color: gray;
    
}

.container-about:hover {
    z-index: 7;
    color: rgb(51, 51, 51);
    cursor: pointer;
}

.container-about {
    z-index: 7;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: larger;
    height: 30px;
}

.container-species {
    width: 260px;
    height: 30px;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 30px;
}

.species {
    color: rgb(131, 131, 131);
}

#species-abilities {
    margin-left: 40px;
}

h3 {
    margin-left: 30px;
    font-size: x-large;
}

@media(max-width: 800px) {
    .pokedex{
        width: 360px;
        border-radius: unset;
    }

    .bg-container-stats {
        width: 360px;
        height: 360px;
        border-radius: unset;
    }
}

@media(max-width: 400px){
    .info-container{
        width: 90%;
        margin-left: 5%;
    }

    .pokedex{
        width: 100%;
    }

    h1{
        font-size: x-large;
        margin-top: 12px;
    }

    .img-pokemon{
        height: 120px;
    }

    #pokemon-pic{
        height: 120px;
        width: 120px;
    }

    .bg-container-stats{
        width: 100%;
    }

    .container-stats{
        padding-left: 5px;
        padding-right: 5px;
    }

    .container-about{
        font-size: medium;
    }

    .container-species{
        width: 90%;
        font-size: medium;
        margin-left: 5%;
    }
}